$def with(email)
$if email:
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">上报脚本</li>
    </ol>
$else:
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
    </ol>
<div style="padding:0 10px">
    <h2>主机监控</h2>
$if email:
    <h3>1. 测试数据上报</h3>
    <p>在终端里执行该语句(安全无毒): <code>bash <(curl http://hostmonitor.ihuhao.com/static/collect.sh -s) $email</code></p>
    <h3>2. 查看Dashboard</h3>
    <p><a href="/dashboard?email=$email">$email的Dashboard</a></p>
    <h3>3. 使用crontab定时上报</h3>
    <pre>mkdir -p ~/scripts
    wget http://hostmonitor.ihuhao.com/static/collect.sh -O ~/scripts/collect.sh
    crontab -e # 在末尾追加如下语句

    */5 * * * * bash ~/scripts/collect.sh $email >/var/log/collect.log 2>&1</pre>
$else:
    <form action="" method="GET">
        <p>请输入邮箱：<input type="email" name="email"> <input type="submit" value="提交"/></p> 
    </form>
    <h3><a href="/dashboard?email=onlytiancai@gmail.com">查看Demo</a></h3>
</div>

